@model Entities.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на заявката.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор на заявката:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим за разработка</h3>
<p>
    Превключването към среда за разработка ще покаже по-подробна информация за възникналата грешка.
</p>
<p>
    <strong>Средата за разработка не трябва да бъде включена за публикувани приложения.</strong>
    Това може да покаже чувствителна информация от изключенията на крайните потребители.
    За локално дебъгване задайте променливата <strong>ASPNETCORE_ENVIRONMENT</strong> със стойност <strong>Development</strong>
    и рестартирайте приложението.
</p>
