@{
    ViewData["Title"] = "Начало";
}

<div class="nb-home">
    <section class="nb-home-panel">
        <h1 class="nb-home-title">Добре дошли в NemeBook</h1>
        <p class="nb-home-text">Следете оценки, съобщения и училищна информация от едно място.</p>
    </section>
</div>
